body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.results-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dog {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#firstDog {
    background-color: #ffd700; 
}

#secondDog {
    background-color: #c0c0c0; 
}

#thirdDog {
    background-color: #cd7f32; 
}

img {
    max-width: 100%;
    border-radius: 8px;
}


@media (max-width: 768px) {
    .results-container {
        flex-direction: column;
        align-items: center;
    }

    .dog {
        width: 90%;
    }
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: auto;
}